doctype html
html(lang='en')
	- var title= 'Working with Grunt!';
	head
		meta(charset='utf-8')
		title= title
		link(rel='stylesheet', href='styles/app.css')
	body
		h1= title
		h1#test.test
		//- SCRIPTS
		script(src='scripts/main.js')