extends layout

block content
	h2 Info:
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium libero ipsum maiores reiciendis eaque, alias voluptatibus id quis deserunt eos ut! Labore minima similique veniam a laborum voluptas, dolor iusto, reiciendis culpa voluptatibus architecto omnis sunt dolore illum deserunt unde at adipisci ab inventore non quasi, possimus numquam vel? Recusandae blanditiis reprehenderit libero in neque cumque tempora laborum asperiores veritatis obcaecati modi facilis, fuga voluptatum quas non, dolorem ipsam totam porro placeat velit cum. Aliquam recusandae, vero officia exercitationem sapiente nihil dolores, praesentium eos omnis ad soluta ducimus quod libero at sint velit molestiae fugiat ipsa in quos eum. Nisi.